@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: 'Noto Sans KR', sans-serif;
}
/* theme colors */
:root{
    --colorPrimary:#F5F5F5;
    --letterLight:#1f1f1f;
    color-scheme: light;
}
:root:has(#btnSwitch:checked){
    --colorPrimary:#616161;
    --letterLight:#525252;
    color-scheme: dark;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--colorPrimary);
}
::-webkit-scrollbar-thumb{
    background-color: var(--colorTertiary);
    border-radius: 10px;
}
:root:has(#colorWhite:checked){
    --colorSecondary:#acbdb9;
    --colorTertiary:#405854;
}
#colorWhite{
    background-color: #acbdb9;
}
:root:has(#colorGreen:checked){
    --colorSecondary:#b2eadd;
    --colorTertiary:#39cfb1;
}
#colorGreen{
    background-color: #b2eadd;
}
:root:has(#colorRed:checked){
    --colorSecondary:#e4bcee;
    --colorTertiary:#d28fe3;
}
#colorRed{
    background-color: #e4bcee;
}
@media(prefers-color-scheme: dark){
    :root:has(#colorWhite:checked){
        --colorSecondary:#9E9E9E;
        --colorTertiary:#BDBDBD;
    }
    #colorWhite{
        background-color: #405854;
    }
    :root:has(#colorGreen:checked){
        --colorSecondary:#39cfb1;
        --colorTertiary:#b2eadd;
    }
    #colorGreen{
        background-color: #39cfb1;
    }
    :root:has(#colorRed:checked){
        --colorSecondary:#d28fe3;
        --colorTertiary:#e4bcee;
    }
    #colorRed{
        background-color: #d28fe3;
    }
}