@import url('./theme.css');

body{
    background-color: var(--colorPrimary);
    color: var(--letterLight);
    transition: .3s;
    letter-spacing: .7px;
    margin: auto;
    width: 100%;
    height: 100%;
}
label{
    cursor: pointer;
}
input{
    cursor: pointer;
}
.principal{
    width: 90%;
    max-height: fit-content;
    padding: 10px 5px ;
    display: flex;
    justify-content: space-between;
    background-color: var(--colorSecondary);
    border: 5px solid var(--colorTertiary);
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.switch{
    width: 45px;
    height: 23px;
    border-radius: 25px;
    background-color: var(--colorTertiary);
    position: relative;
}
.slider{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--colorPrimary);
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.switch:has(#btnSwitch:checked) > .slider{
    left:50%;
    box-shadow: inset 8px -4px 0px 0px var(--letterLight);
    background-color: var(--colorTertiary);
}
#btnSwitch{
    display: none;
}
#menuGame{
    width: max-content;
    height: max-content;
    border-radius: 25px;
    padding: 5px 15px;
    background-color: var(--colorTertiary);
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#menuGame:hover{
    box-shadow: 0px 0px 0px 3px var(--colorPrimary);
}
#btnGame{
    display: none;
}
.login{
    width: max-content;
    height: max-content;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: var(--colorTertiary);
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
#login{
    display: none;
}
.containerLogin{
    background-color: var(--colorSecondary);
    position: absolute;
    top: 35px;
    right: 0px;
    opacity: 0;
    padding: 30px 10px;
    border: 3px solid var(--colorTertiary);
    border-top: none;
    display: flex;
    gap: 25px;
    flex-direction: column;
    transition: .25s ease-in-out;
    pointer-events: none;
}
.login:has(#login:checked) .containerLogin{
    background-color: var(--colorSecondary);
    top: 45px;
    opacity: 1;
    padding: 30px 10px;
    border: 3px solid var(--colorTertiary);
    pointer-events: all;
}
.containerLogin label{
    position: relative;
    border: none;
}
.containerLogin input{
    padding: 5px;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    border: none;
}
.containerLogin span{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    transition: .25s;
}
.containerLogin input:is(:valid,:focus) + span{
    top:-10px;
}
.containerLogin a{
    text-decoration: none;
    text-transform: lowercase;
    color: var(--letterLight);
}
.containerLogin a:is(:hover){
    font-weight: 700;
    color: var(--letterLight);
    text-shadow: 1px 1px 1px var(--letterDark);
}
#buttonLogin{
    background-color: var(--colorTertiary);
    width: fit-content;
    margin: auto;
    border: none;
    border-radius: 10px;
    padding: 5px 50px;
    font-weight: 700;
    cursor: pointer;
}
#buttonLogin:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 0px 2px var(--colorPrimary);
}
.colorsTheme{
    width: max-content;
    display: block;
    position: relative;
    left:10%;
}
.btnColorsTheme{
    background-color: var(--colorSecondary);
    margin: 0;
    padding: 3px 15px;
    border: 3px solid var(--colorTertiary);
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    transition: 0.3s;
}
.btnColorsTheme label{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#btnMenuColorsTheme{
    display: none;
}
.menuColorsTheme{
    background-color: var(--colorSecondary);
    max-width: 80vW;
    position: absolute;
    bottom: 100%;
    left: -5%;
    display: flex;
    gap: 20px;
    padding: 5px;
    border: 2px solid var(--colorTertiary);
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    transition: .4s;
}
.menuColorsTheme input{
    appearance: none;
    width: 50px;
    height: 15px;
    border-radius: 20px;
    background-color: var(--colorPrimary);
    box-shadow: inset 0px 0px 0px 3px var(--colorPrimary)
}
.menuColorsTheme input:checked{
    background-color: var(--colorTertiary);
    box-shadow: inset 0px 0px 0px 2px var(--colorPrimary),
    0px 0px 0px 2px var(--colorTertiary);
}
.btnColorsTheme:has(#btnMenuColorsTheme:checked){
    margin-top: 27px;
}
.btnColorsTheme:has(#btnMenuColorsTheme:checked) i{
    transform: rotate(180deg);
}
.logo{
    display: grid;
    place-items: center;
    position: relative;
    height: 230px;
    overflow: hidden;
    object-fit: cover;
    pointer-events: none;
    margin-top: -30px;
}
.logo img{
    position: absolute;
    pointer-events: none;
    height: fit-content;
    transform: scale(.7);
}
main{
    background-color: var(--colorTertiary);
    width: 90%;
    height: fit-content;
    margin: auto;
}
.menuMain{
    background-color: var(--colorSecondary);
    border-top: 3px solid var(--colorTertiary);
    border-bottom: 3px solid var(--colorTertiary);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.menuMain label{
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    font-weight: 700;
    font-size: small;
}
.menuMain input{
    appearance: none;
    width: 100%;
    height: 5px;
}
.menuMain input:checked{
    box-shadow: 0px -8px 0px 0px var(--colorTertiary);
}
.containerMain{
    width: 95%;
    height: 47vh;
    overflow: hidden;
    margin: auto;
    position: relative;
}
.wapperMain{
    width: 100%;
    height: 300%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -500%;
}
main:has(#btnMenuHowPlay:checked) .wapperMain{
    top: 0%;
}
main:has(#btnMenuRegister:checked) .wapperMain{
    top: -100%;
}
main:has(#btnMenuAbout:checked) .wapperMain{
    top: -200%;
}
.contentMenu{
    width: 100%;
    height: 100%;
    padding: 5px;
    text-align: justify;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.contentMenu i{
    transform: scale(1.2);
    padding: 10px;
}
.contentHowPlay{
    display: grid;
    grid-template-rows: repeat(5,1fr);
}
.navHowPlay{
    grid-row: 1;
    width: 100%;
    padding: 5px 0; 
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    position: absolute;
    text-align: center;
    font-size: small ;
}
.navHowPlay input{
    appearance: none;
    margin: auto;
    width: 100%;
    height: 5px;
}
.navHowPlay input:checked{
    box-shadow: 0px -8px 0px 0px var(--colorPrimary);;
}
.textModeGame{
    grid-row: 2/6;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    position: relative;
}
.textModeGame > div{
    background-color: var(--colorSecondary);
    border-radius: 5px;
    padding: 10px;
    line-height: 2.2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    overflow: auto;
    position: absolute;
    left: -110%;
    transition: .3s ease-in-out;
    gap: 20px;
}
main:has(#btnFastMode:checked) .fastMG{
    left: 0%;
}
main:has(#btnChallengeMode:checked) .challengeMG{
    left: 0%;
}
main:has(#btnGroupMode:checked) .GroupMG{
    left: 0%;
}
.contentRegister{
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
    gap: 35px;
    overflow: auto;
}
.labelRegister{
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
}
.invalid{
    background-color: lightcoral;
}
.labelRegister input{
    border: none;
    width: 80%;
    margin: auto;
    padding: 5px 15px;
    outline: none;
    border-radius: 10px;
}
.labelRegister span{
    background-color: var(--colorTertiary);
    color: var(--letterDark);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 2px 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-55%);
    transition: .3s ease-out;
    pointer-events: none;
}
.labelRegister input:is(:focus,:valid) ~ span{
    top: -50%;
}
.contentRegister h3{
    width: 90%;
    text-align: center;
    border-bottom: 2px solid var(--colorPrimary);
}
.contentRegister button{
    background-color: var(--colorSecondary);
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    font-weight: 600;
    color: var(--letterLight);
    text-transform: uppercase;
    border: none;
}
.contentRegister button:hover{
    background-color: var(--colorTertiary);
    box-shadow: 0px 0px 2px 2px var(--colorPrimary);
    color: var(--letterDark);
}
.contentAbout{
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: nowrap;
    gap: 15px;
    text-align: center;
    line-height: 2.2rem;
}
.contentAbout h3{
    width: 90%;
    margin: auto;
    text-align: center;
    border-bottom: 2px solid var(--colorPrimary);
}